@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  background-color: #0a0a0a;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.App{
  max-width:1000px;
  margin:0 auto;
  padding:20px;
}

h1{
  font-size: 40px !important;
  margin-top:20px;
}
